{% load static %}
{% load crispy_forms_tags %}


<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<!-- link to the change avatar
    page:: -->
<a href="{% url 'avatar_change' %}">Change your avatar</a>
<a href="{% url 'avatar_delete' %}">Delete your avatar</a>
<!-- display an avatar for a user -->
{% load avatar_tags %}
{% avatar user %}
